.button-container {
    margin: 20px 0;
    padding: 10px;
}
.button-container button {
    margin-right: 10px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    background-color: #900018;
    color: white;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}
.button-container button:hover {
    background-color: #c61a28;
}

.table-container {
    max-height: 500px;
    overflow-y: auto;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    font-size: 15px;
    table-layout: fixed;
    max-width: 100%;
}

th, td {
    border: 1px solid #bbb;
    padding: 8px 10px;
    text-align: left;
    overflow-x: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 220px;
}

th {
    background-color: #900018;
    color: #fff;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #ffe6e6;
}

a {
    color: #900018;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
    color: #c61a28;
}
