{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index of {{path}} </title> 
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% if patherror %}
        <h1>Error</h1>
        <p>path is not specified</p>
    {% elif notfounderror %}
        <h1>Error</h1>
        <p>file is not found</p>
    {% elif texterror %}
        <h1>Error</h1>
        <p>path is not text file</p>
    {% else %}
        <h1>editing the file: {{path}}</h1>
        <form action="/list/api/savefile/" method="post" >
            {% csrf_token %}
            <input type="submit" value="save">
            <br>
            <input type="hidden" name="path" value="{{path}}">
            <textarea name="text" id="text" cols="200" rows="40">{{ data }}</textarea>
        </form>
    {% endif %}

    <script>
        history.replaceState(null, null, "?path={{path}}");
    </script>
</body>
</html>