{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index of {{path}} </title> 
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://css.gg/css">
  
</head>
<body>
    <div id="outer-shadow" class="outer-shadow">
        <div class="inner-div">
            <i id="close" class="gg-close"></i>
            <form id="mkdir-form" action="#">
                <p>create new directory in {{path}}:</p>
                <input type="hidden" id="mkdir-path" value="{{path}}">
                <input type="text" id="mkdir-name">
                <br>
                <input type="submit" value="create directory">
            </form>
            <form id="touch-form" action="#">
                <p>create new file in {{path}}:</p>
                <input type="hidden" id="touch-path" value="{{path}}">
                <input type="text" id="touch-name">
                <br>
                <input type="submit" value="create file">
            </form>
            <form id="cp-form" action="#">
                <p id="cp-title">Copy file:</p>
                <input type="hidden" id="cp-src">
                <input type="text" id="cp-dest">
                <br>
                <input type="submit" value="copy">
            </form>
            <form id="mv-form" action="#">
                <p id="mv-title">Move file:</p>
                <input type="hidden" id="mv-src">
                <input type="text" id="mv-dest">
                <br>
                <input type="submit" value="move">
            </form>
            <form id="chmod-form" action="#">
                <p id="chmod-title">Change permessions on file:</p>
                <input type="hidden" id="chmod-path">
                <input type="text" id="chmod-mod">
                <br>
                <input type="submit" value="change mod">
            </form>
            <p id="msg"></p>
        </div>
    </div>

    <h1>the files in the {{path}} dir is:<i id="mkdir" class="gg-folder-add" title="create folder" data-path="{{path}}/"></i><i id="touch" class="gg-file-add" title="create file" data-path="{{path}}/"></i></h1>
    <hr>
    <table>
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Permissions</th>
            <th>Owner User</th>
            <th>Owner Group</th>
            <th>Last Modified</th>
        </tr>
        {% for file_arr in list %}
        <tr>
            {% if file_arr.0.0 == "d" %}
            <td><a href="/list?path={{path}}/{{ file_arr.8 }}">{{file_arr.8}}</a></td>
            {% else %}
            <td>{{file_arr.8}}</td>
            {% endif %}
            <td>{{file_arr.4}}B</td>
            <td>{{file_arr.0}}</td>
            <td>{{file_arr.2}}</td>
            <td>{{file_arr.3}}</td>
            <td>{{file_arr.5}} {{file_arr.6}} {{file_arr.7}}</td>
            {% if file_arr.0.0 == "d" and file_arr.8 == ".." %}
            {% else %}
            <td><i class="gg-copy cp" title="Copy" data-path="{{path}}/{{file_arr.8}}"></i></td>
            <td><i class="gg-move-up mv" title="move" data-path="{{path}}/{{file_arr.8}}"></i></td>
            <td><i class="gg-edit-exposure chmod" title="edit permession" data-path="{{path}}/{{file_arr.8}}"></i></td>
            {% endif %}
            {% if file_arr.9 and file_arr.0.0 == "-" %}
                <td><i class="gg-pen edit" title="edit file" data-path="{{path}}/{{file_arr.8}}"></i></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <script>
        history.replaceState(null, null, "?path={{path}}");
    </script>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>