{% extends "list/base_table.html" %}
{% load static %}

{% block title %}Güvenlik Dashboard{% endblock %}

{% block table_title %}Sistem Durumu{% endblock %}

{% block table_headers %}
<th>Metrik</th>
<th>Değer</th>
<th>Durum</th>
{% endblock %}

{% block table_content %}
<tr>
    <td>Toplam Tarama</td>
    <td>0</td>
    <td><span class="badge badge-info">Normal</span></td>
</tr>
<tr>
    <td>Bulunan Tehditler</td>
    <td>0</td>
    <td><span class="badge badge-success">Temiz</span></td>
</tr>
<tr>
    <td>Karantinadaki Dosyalar</td>
    <td>0</td>
    <td><span class="badge badge-warning">Beklemede</span></td>
</tr>
<tr>
    <td>Temizlenen Dosyalar</td>
    <td>0</td>
    <td><span class="badge badge-success">Tamamlandı</span></td>
</tr>
{% endblock %}
